<table class="author  {{classT}}" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td>
			<!--[if (gte mso 9)|(IE)]>
				<table width="{{#if tableWidth}}{{tableWidth}}{{else}}600{{/if}}" align="center" cellpadding="0" cellspacing="0" border="0">
				<tr>
				<td>
			<![endif]-->
			<table class="main {{classW}}" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td>
						<table class="main-wrap" width="90%" cellspacing="0" cellpadding="0" border="0" align="center">
							<tr>
								<td>
									{{#if text}}
										{{{text}}}
									{{else}}
										<p>
											<strong>Lorem ipsum dolor sit amet</strong><br/>
											consectetur adipiscing elit, sed do eiusmod
										</p>
									{{/if}}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!--[if (gte mso 9)|(IE)]>
				</td>
				</tr>
				</table>
			<![endif]-->
		</td>
	</tr>
</table>
